body{
    background:url(/photo/CAL1.jpg);
    background-size:cover;
    opacity: 0.9;
}
.calorie-cal  .container{
    background-color: white;
    border-radius: 40px;
    padding: 0px;
    margin-top: 70px;
}
.calorie-cal input{
    background-color:white;
    border: none;
    color: rgb(0, 0, 0);
}
#resultcal{
    color: peru;
    padding-top: 0rem;
}
.left-data{
    background-color: rgb(231, 231, 126);
    opacity: 0.9;
    text-align: center;
    border-top-left-radius:30px ;
    height: 100%;
}
.pie-chart{
    height: 100%;
    border-bottom-right-radius: 30px;
    text-align: center;
}